<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" #nameInput [(ngModel)]="ingredientName" name="ingredientName">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" #amountInput [(ngModel)]="ingredientAmount" name="ingredientAmount">
                </div>
            <div class="col-xs-12">
                <button class="btn btn-success mr-3" type="submit" (click)="onAddIngredient()">Add</button>
                <button class="btn btn-danger mr-3" type="button" (click)="onDeleteLast()">Delete</button>
                <button class="btn btn-primary" type="button" (click)="onClearIngredients()">Clear</button>
            </div>
            </div>
        </form>
    </div>
</div>
